<!DOCTYPE html>
  <link rel="stylesheet" href="/custom/mastermind/styles.css">

  <script src="/vendor/js/jquery-1-10-1.js"></script>
  <script src="/vendor/js/jquery.lightbox_me.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
  <script src="/vendor/js/jquery.validate.js"></script>
  <script src="/custom/mastermind/script.js"></script>
  <body>

    <div class="hero-unit">
      <h1>Mastermind</h1>
      <%= erb :'_description/_mastermind'  %>
      <p>Submit a guess and Mastermind will tell you how close you are. Your mark will contain a '+' for every correct number in your guess that is also in the right location. A '-' will appear for every correct number in the wrong location.</p>
      <button id="play" class="btn btn-large btn-primary">Start Game</button>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

        <%= erb :'mastermind/_form'  %>

          <!-- add guesses here -->
          <div class="row guess_row"></div>
        </div>
      </div>
      <%= erb :'highscore/_form'  %>
    </div>
  </body>
</html>