body {
  background-color: lightblue;
}

.btn-primary {
  margin-bottom: 1em;
}
.guess {
  text-align: center;
  font-size: 2em;
}

.mark {
  font-size: 2em;
}

.alert-success {
  font-size: 2em;
  line-height: 1em;
  text-align: center;
}

.game_outline {
  display: none;
}

legend, .secret_code {
  text-align: center;
}

label.valid {
  text-indent: -9999px;
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}