<!DOCTYPE html>
  <body>
    <div class="container-narrow">
      <div class="row">
        <div class="hero-unit">
          <h1>Welcome to JSGames</h1>
          <%= erb :'_description/_intro'  %>
        </div>
      </div>
      <div class="row">
        <div class="span4 pagination-centered">
          <h2>Solitaire</h2>
          <%= erb :'_description/_solitaire'  %>
          <a href="/solitaire">
          <img class="gameImg" src="/images/solitaire.png" alt="Solitaire Image" /></a>
          <a href="/solitaire" class="btn btn-large">Play</a>
        </div>
        <div class="span4 pagination-centered">
          <h2>Mastermind</h2>
          <%= erb :'_description/_mastermind'  %>
          <a href="/mastermind">
          <img class="gameImg clear" src="/images/mastermind.png" alt="Mastermind Image" /></a>
          <a href="/mastermind" class="btn btn-large">Play</a>
        </div>
        <div class="span4 pagination-centered">
          <h2>Animal Quiz</h2>
          <%= erb :'_description/_animalquiz'  %>
          <a href="/animalquiz">
          <img class="gameImg" src="/images/animalquiz.png" alt="Animal Quiz Image" /></a>
          <a href="/animalquiz" class="btn btn-large">Play</a>
        </div>
      </div>
    </div>
  </body>
</html>