<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Solitaire Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/custom/styles.css">

    <script src="/vendor/js/jquery-1-10-1.js"></script>
    <script src="/custom/solitairescripts.js"></script>
  </head>
  <body>

    <div class="gameGrid">
    </div>

  </body>
</html>