<link rel="stylesheet" href="/custom/solitaire/styles.css">
<script src="/custom/solitaire/script.js"></script>

<div class="hero-unit span3">
  <h1>Solitaire</h1>
  <%= erb :'_description/_solitaire'  %>
  <p>Click Reset to clear the board.</p>
  <button class="btn btn-large btn-primary reset" type="submit">Reset</button>
</div>


<div class="span 6">
  <div class="gameGrid">
  </div>
</div>
