<link rel="stylesheet" type="text/css" href="/custom/highscore/styles.css">

<form id="high_score_form" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>You won in XX moves</legend>

<!-- Your score -->
<h2>High Score!</h2>
  <input id="highscore_name" name="highscore[:name]" type="text" placeholder="Name" class="input-mini">

  <button id="submit_score" name="submit_score" class="btn btn-success">Save</button>

</fieldset>
</form>