<p>Help Ruby learn about Animals!</p>
<p>Start by thinking of an animal. Ruby will ask you a series of yes/no questions about that animal: Does it swim? Does it have hair? And so on.... Eventually, Ruby will narrow down the possibilities to a single animal and guess: is it a mouse?</p>