<h1>Edit User</h1>

<% form(@user, action: "/u/users/#{@user.id}", method: "post", class: "form-horizontal") do |f| %>
  <%= f.input(:name, name: "user[name]") %>
  <%= f.input(:email, name: "user[email]") %>
  <%= f.button(:value=>'Update') %>
<% end %>