body {
  margin: auto;
  max-width: 90%;
}

.square {
  font-size: 5em;
  padding: 0.1em;
  color: gray;
}

.blue {
  color: blue;
}

.victory {
  font-size: large;
  color: red;
}

.reset {
  margin-bottom: 1em;
}