<form class="form-horizontal quiz_form">
<fieldset>

<!-- Form Name -->
<legend>Help Ruby learn more animals</legend>

<!-- Text input-->
<div class="control-group">
    <input id="animal" name="quiz[:animal]" type="text" placeholder="What animal were you thinking of?" class="input-xlarge">

</div>

<!-- Text input-->
<div class="control-group">
    <input id="question" name="quiz[:question]" type="text" placeholder="What could I ask to distinguish them?" class="input-xlarge">
    <p class="help-block">form: Does it have fur?</p>
</div>

<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label" for="answer">What is the answer?</label>
  <div class="controls">
    <label class="radio" for="answer-0">
      <input type="radio" name="quiz[:yes]" id="answer-0" value="yes" checked="checked">
      yes
    </label>
    <label class="radio" for="answer-1">
      <input type="radio" name="quiz[:no]" id="answer-1" value="no">
      no
    </label>
  </div>
</div>

</fieldset>
</form>