<form class="form-horizontal">
<fieldset>
<!-- Multiple Radios (inline) -->
<div class="control-group">
  <h3 class="question_label control-label" for="radios">Is it an elephant?</h3>
  <div class="controls">
    <label class="radio inline" for="radios-0">
      <input type="radio" name="quiz[:yes]" id="radios-0" value="Yes" checked="checked">
      Yes
    </label>
    <label class="radio inline" for="radios-1">
      <input type="radio" name="quiz[:no]" id="radios-1" value="No">
      No
    </label>
  </div>
</div>