<link rel="stylesheet" href="/custom/quiz/styles.css">
<script src="/custom/quiz/script.js"></script>

<div class="hero-unit">
  <h1>Animal Quiz</h1>
  <%= erb :'_description/_animalquiz'  %>
  <p>If Ruby has guessed correctly, the game is over and may be restarted with a new animal. If Ruby was wrong, she will ask you for the kind of animal they were thinking of. Help Ruby get better at the game by suggesting a question that can help her distinguish between her incorrect guess and the correct answer. She will remember for next time!</p>
  <button id="ready" class="btn btn-large btn-primary">Ready?</button>
</div>

<%= erb :'animalquiz/_question'  %>
<%= erb :'animalquiz/_form'  %>